<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>CustomerFindAllServlet</servlet-name>
    <servlet-class>cn.itcast.customer.web.CustomerFindAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerDelByIdServlet</servlet-name>
    <servlet-class>cn.itcast.customer.web.CustomerDelByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <servlet-class>cn.itcast.customer.web.CustomerUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerAddServlet</servlet-name>
    <servlet-class>cn.itcast.customer.web.CustomerAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerDelSelectServlet</servlet-name>
    <servlet-class>cn.itcast.customer.web.CustomerDelSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerSimpleSelectServle</servlet-name>
    <servlet-class>cn.itcast.customer.web.CustomerSimpleSelectServle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerFindByPageServlet</servlet-name>
    <servlet-class>cn.itcast.customer.web.CustomerFindByPageServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>CustomerFindAllServlet</servlet-name>
    <url-pattern>/servlet/CustomerFindAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerDelByIdServlet</servlet-name>
    <url-pattern>/servlet/CustomerDelByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <url-pattern>/servlet/CustomerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerAddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerDelSelectServlet</servlet-name>
    <url-pattern>delSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerSimpleSelectServle</servlet-name>
    <url-pattern>simpleSel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerFindByPageServlet</servlet-name>
    <url-pattern>findByPageServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
